# Exercises

In [1]:
print("Hello World!")

Hello World!

In [2]:
x = 20
y = 4
z = x * y
print (x*y)
print (20*4)
print (z)

80
80
80

In [3]:
a = 100
b = 50
if a > b:
    print ("I have mastered decision making!")

I have mastered decision making!

In [4]:
foodList = ["pizza", "waffles", "mango"]
for x in foodList:
    print (x)

pizza
waffles
mango

In [5]:
foodTuple = ("pizza", "waffles", "mango")
for x in foodTuple:
    print (x)

pizza
waffles
mango

In [6]:
foodSet = {"pizza", "waffles", "mango"}
for x in foodSet:
    print (x)

waffles
mango
pizza

In [11]:
foodDict = {"savory":"pizza", "sweet":"waffles", "fruit":"mango"}
for x in foodDict:
    print(foodDict.get(x))

pizza
waffles
mango

In [23]:
sum = 0
for x in range(10000):
    sum += x
print (sum)

4950

In [5]:
def sumList(x):
    sum = 0
    for i in range (x):
        sum += i
    return sum
print (sumList(9))

36

In [14]:
import sqlite3

def createTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    mycursor.execute("CREATE TABLE FavFoods (id INTEGER PRIMARY KEY, food VARCHAR(255), foodType VARCHAR(255))")
    mydb.close()

def fillTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "INSERT INTO FavFoods (food, foodType) VALUES (?, ?)"
    val = [
    ('Quesadilla', 'Mexican'),
    ('Dosa', 'Indian'),
    ('Goldfish', 'Snack'),
    ('Pizza', 'Italian'),
    ('Cupcakes', 'Dessert'),
    ]
    mycursor.executemany(sql, val)
    mydb.commit()
    mydb.close()

def viewTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "SELECT * FROM FavFoods ORDER BY food"
    mycursor.execute(sql)
    myresult = mycursor.fetchall()
    for x in myresult:
        print(x)
    mydb.close()

def deleteTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "DROP TABLE IF EXISTS FavFoods"
    mycursor.execute(sql)
    mydb.close()

deleteTable()
createTable()
fillTable()
viewTable()

5
(5, 'Cupcakes', 'Dessert')
(2, 'Dosa', 'Indian')
(3, 'Goldfish', 'Snack')
(4, 'Pizza', 'Italian')
(1, 'Quesadilla', 'Mexican')